<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>The Unicorn Trail</title>
    <script>
      (function(d) {
        var config = {
          kitId: 'gvk5uda',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div class="article-background">
      <main class="article-wrap">
        <div class="grid-container">
          <div class="article-infos">
            <p class="article-tag"><%= current_article.tags.join(', ') %></p>
            <time class="article-date" datetime="<%= current_article.date %>">
                <span class="day"> ▪ <%= current_article.date.strftime("%d/%m/%Y") %></span>
              </time>
          </div>

          <div class="article-content">Qu'est-ce qu'une "unicorn" ?</div>
          <div class ="content">
          <%= yield %>
          </div>
          <footer class="article-footer">
            <p>&copy; 2015 Marion Couesnon</p>
          </footer>
        </div>

      </main>
    </div>
  </body>
</html>
